body {
  margin: 0;
  font-family: 'Muli', sans-serif;
}
h1 {
  font-size: 210%;
  color: #5B8414;
  font-family: 'Comfortaa', cursive;
}
a:hover {
  color: #5B8414;
  text-decoration: none;
}

/*----- Navigation Bar -----*/

nav {
  height: 70px;
  text-align: right;
  background: #F4F4F3;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-bottom: solid;
  border-bottom-width: 2px;
  border-bottom-color: #222815;
}
nav a {
  display: inline-block;
  padding-top: 30px;
  margin-right: 50px;
  text-decoration: none;
  text-align: right;
  font-weight: 600;
  color: #222815;
  font-size: 15px;
  font-family: 'Comfortaa', cursive;
}
nav a:hover {
  color: #5B8414;
  text-decoration: none;
}
.img-logo-nav {
  width: 160px;
}
#logo-nav {
  float: left;
  padding-top: 10px;
  padding-left: 110px;
}
.group {
  padding-right: 80px;
}
.dropdown {
  display: none;
}

/*----- Container -----*/

.simple-container {
  align-content: center;
}

/*----- Home -----*/

header h1{
  color: #222815;
  margin-bottom: 1%;
  padding-top: 0;
  padding-bottom: 2%;
  line-height: normal;
  font-size: 280%;
  font-family: 'Comfortaa', cursive;
}


.locations {
  margin-top: 65px;
  padding-left: 70px;
  height: 70px;
}
.location-link {
  margin: 35px 50px;
  display: inline-block;
  font-size: 18px;
  font-family: 'Comfortaa', cursive;
  text-decoration: none;
  color: #222815;
  cursor: pointer;
}
.location-link:hover {
  display: inline-block;
  text-decoration: none;
  color: green;
  cursor: pointer;
}
.banner {
  background-color: #c9ddaa;
  display: grid;
  grid-template-columns: 15% 45% 40%;
  grid-template-areas: ". search-bar-area search-img";
}
.search-area {
  grid-area: search-bar-area;
  margin-top: 5%;
}
.search-img-mobile {
  display: none;
}
.banner-title {
  font-size: 25px;
  font-family: 'Comfortaa', cursive;
  color: #222815;
  padding-top: 3%;
  text-align: center;

}
.search-bar-area {
  padding-bottom: 100px;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
  outline: none;
}
input.search-bar {
  border: 7px solid #667352;
  border-radius: 5px;
  width: 100%;
  margin: 0 auto;
  font-size: 15px;
  font-family: 'Muli', sans-serif;
  color: #222815;
}
input.search-bar::placeholder {
  color: #bebbbb;
  opacity: 1 !important;
}
.search-bar-area button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: none;
  font-size: 17px;
  border: none;
  cursor: pointer;
  position: relative;
  bottom: 55px;
}
.search-icon {
  font-size: 25px;
  color: #bebbbb;
}
.search-img {
  grid-area: search-img;
  width: 55%;
  padding-top: 7%;
  padding-left: 20%;
  margin-top: 5%;
}

/*----- Content -----*/

.content-comp {
  text-align: center;
  margin: 5% 15% 6% 15%;
}
.paragraph1 {
  font-family: 'Muli', sans-serif;
  font-size: 17px;
  line-height: 28px;
  margin-top: 5%;
}
.paragraph2 {
  margin-top: 5%;
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  line-height: 28px;
}
.paragraph2 span {
  color: #5F871A;
}

/*----- Hint -----*/

.hint {
  text-align: center;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #E5E5E5;
}
.question {
  font-size: 25px;
}
.intro {
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  line-height: 28px;
  margin: 2% 20%;
}
.intro a {
  text-decoration: none;
  color: #5F871A;
}
.founds-options {
  display: grid;
  grid-column: 80%;
}
.option h1 {
  font-size: 20px;
  margin: 1% 0 2% 0;
}
.option p {
  text-align: left;
  margin-left: 3%;
}
.option {
  background-color: white;
  margin: 2% 12%;
  border-radius: 5px;
  border: 2px solid #5F871A;
  box-shadow: 3px 3px 8px #888888;
  font-family: 'Muli', sans-serif;
}

hr {
  margin: 3.5% 0 3.5% 0;
}

.final-box {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 10%;
}
.in {
  text-decoration: none;
  font-size: 25px;
  margin: 2% 46.1% 2% 46.1%;
  color: #222815;
}
.send-email p {
  text-align: center;
  margin: 2% 35% 2% 15%;
  line-height: 20px;
  font-family: 'Muli', sans-serif;
}
.send-email-form-area {
  margin: 0 10%;
}
input.insert-email {
  border: 1px solid #222815;
  width: 75%;
  font-size: 12px;
}
.btn-send-email {
  text-decoration: none;
  background-color: #5F871A;
  border-radius: 5px;
  padding: 10px 4%;
  margin-left: 2%;
  font-size: 17px;
}
.btn-send-email:hover {
  color: white;
  background-color: #4B6C10;
}
.btn-send-email {
  color: white;
  font-family: 'Muli', sans-serif;
}
.bottom-line p {
  font-size: 11px;
  margin-top: 2%;
  margin-right: 32%;
  text-align: center;
}
.visit {
  background-color: #c9ddaa;
  margin: 5% 30%;
  padding-top: 2%;
}
.visit p {
  text-align: center;
  font-family: 'Muli', sans-serif;
  font-size: 18px;
}

/*----- Footer -----*/

.footer-comparative {
  display: grid;
  grid-template-columns: 50% 50%;
}
.footer-comp-logo {
  width: 30%;
  align-content: left;
  margin-left: 10%

}
.copyright-comp {
  text-align: right;
  font-size: 13px;
  margin-right: 10%;
  margin-top: 4%;
  margin-bottom: 0;
}

.bottom-info {
  margin: 2% 5% 2% 5%;
  text-align: center;
  font-size: 11px;
}

/*-----Contato-----*/

.btn-enviar {
  text-decoration: none;
  background: #5B8414;
  color: white;
  margin-top: 3%;
  padding: 1.5% 3%;
  font-size: 120%;
  font-weight: 600;
  border-radius: 7px;
  font-family: 'Muli', sans-serif;
  float: right;
}
.btn-enviar:hover {
  background-color: #4B6C10;
  color: white;
}
.ok-btn {
  background: #5B8414;
  color: white;
}
.logo-mobile {
  display: none;
  max-width: 50%;
}

/* Media Queries
-------------------------*/

/*----- Ultrawide -----*/

@media only screen and (min-width: 2400px) {
  nav {
    margin: 0 25%;
  }
  .simple-container {
    margin: 0 25%;
  }
  .banner {
    grid-template-columns: 20% 40% 40%;
  }
  .send-email-form-area {
    margin: 0;
  }
  .send-email p {
    margin: 2% 30% 2% 15%;
  }
  .send-email-form-area {
    margin: 0 8%;
  }

  .search-img {
    grid-area: search-img;
    width: 50%;
    padding-top: 6%;
    padding-left: 20%;
    margin-top: 5%;
  }

  .visit {
    padding-top: 2%;
  }

}

@media only screen and (min-width: 1800px) and (max-width: 2559px) {

  .search-img {
    grid-area: search-img;
    width: 45%;
    padding-top: 5%;
    padding-left: 20%;
    margin-top: 5%;
  }
}

/*----- Image for bigger than 1600px -----*/

@media only screen and (min-width: 1600px) and (max-width: 1799px) {
  .search-img {
    grid-area: search-img;
    width: 50%;
    padding-top: 6%;
    padding-left: 20%;
    margin-top: 5%;
  }
}

/*----- Netbook -----*/

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  nav {
    height: 60px;
  }
  nav a {
    padding-top: 25px;
    margin-right: 20px;
    font-size: 13px;
  }
  .img-logo-nav {
    width: 130px;
  }
  #logo-nav {
    float: left;
    padding-top: 8px;
    padding-left: 60px;
  }
  .group {
    padding-right: 60px;
  }
  header h1 {
    font-size: 200%;
  }
  h1 {
    font-size: 150%;
  }
  .footer a {
    font-size: 200%;
  }
  .copyright {
    font-size: 80%;
  }
  .simple-container {
    width: 100%;
  }
  .locations {
    margin-top: 60px;
    padding-left: 35px;
    height: 60px;
  }
  .location-link {
    margin: 25px 35px;
  }
  .banner {
    grid-template-columns: 10% 50% 40%;
  }
  .search-img {
    grid-area: search-img;
    width: 60%;
    padding-top: 5%;
    padding-left: 20%;
    margin-top: 10%;
  }
  .send-email-form-area {
    margin: 0;
  }
  .send-email p {
    margin: 2% 30% 2% 5%;
  }
  .send-email-title {
    font-size: 14px;
  }
  .send-email-form-area {
    margin: 0 3%;
  }
  .bottom-line p {
    margin-top: 0;
  }
  .visit {
    margin: 5% 25%;
    padding-top: 2%;
  }
  .footer a {
    font-size: 200%;
  }
  .copyright {
    font-size: 80%;
  }
}

/*----- Tablet -----*/

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  nav {
    height: 60px;
  }
  nav a {
    padding-top: 25px;
    margin-right: 20px;
    font-size: 13px;
  }
  .img-logo-nav {
    width: 130px;
  }
  #logo-nav {
    padding-top: 8px;
    padding-left: 60px;
  }
  .group {
    padding-right: 60px;
  }

  header h1 {
    font-size: 200%;
  }
  h1 {
    font-size: 150%;
  }
  .locations {
    margin-top: 65px;
    padding-left: 40px;
    height: 50px;
  }
  .location-link {
    margin: 15px 25px;
    font-size: 16px;
  }

  .banner {
    height: 230px;
  }
  .banner-title {
    font-size: 18px;
  }
  .search-img {
    width: 70%;
    padding-top: 35px;
  }

  .content-comp h1 {
    font-size: 20px;
  }
  .paragraph1 {
    font-size: 16px;
  }
  .paragraph2 {
    font-size: 18px;
  }

  .question {
    font-size: 20px;
  }
  .intro {
    font-size: 16px;
  }

  .option p {
    font-size: 16px;
  }

  .send-email-form-area {
    margin: 0;
  }
  .send-email p {
    margin: 2% 28% 2% 2%;
  }
  .send-email-title {
    font-size: 14px;
  }
  .send-email-form-area {
    margin: 0;
  }
  input.insert-email {
    width: 70%;
  }
  .bottom-line p {
    margin-top: 0;
    line-height: 14px;
    margin-right: 35%;
  }

  .visit {
    background-color: #c9ddaa;
    margin: 5% 25%;
    padding-top: 0;
  }
  .visit p {
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    margin-top: 35px;
  }
  .footer a {
    font-size: 150%;
  }

  .copyright {
    font-size: 60%;
  }
}

/*----- Devices bigger than smartphone -----*/

@media only screen and (min-width: 426px) and (max-width: 767px) {
  .search-img-mobile {
    display: block;
    width: 140px;
    margin: 0 43% !important;
  }
  .in {
    font-size: 28px;
    text-align: center;
    margin-left: 49%;
    margin-right: 48%;
  }
}

/*----- Smartphones -----*/

@media only screen and (max-width: 767px) {
  nav {
    height: 50px;
  }
  nav a {
    margin-right: 0;
  }
  .img-logo-nav {
    width: 110px;
  }
  #logo-nav {
    padding-top: 8px;
    padding-left: 30px;
  }
  .group {
    display: none;
  }
  .dropbtn {
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
  }
  .dropdown-content a {
    color: black;
    font-size: 12px;
    padding: 8px 0;
    text-align: center;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #ddd
  }
  .show {
    display:block;
  }
  h1 {
    font-size: 90%;
  }
  header h1 {
    font-size: 110%;
    line-height: 125%;
    margin-top: 0;
    margin-left: 2%;
    margin-right: 2%;
    line-height: 150%;
  }
  header h2 {
    font-size: 70%;
    line-height: 25px;
  }
  label {
    font-size: 75%;
  }
  input[type=text], select, textarea {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 14px;
    resize: vertical;
  }
  .locations {
    margin-top: 60px;
    padding-left: 20px;
    height: 40px;
  }
  .location-link {
    margin: 10px 15px;
    font-size: 14px;
  }
  .banner {
    background-color: #c9ddaa;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-areas: ". search-bar-area .";
    padding-top: 4%;
  }
  .search-img-mobile {
    display: block;
    width: 140px;
    margin: 0 34%;
  }
  .search-img {
    display: none;
  }
  .banner-title {
    font-size: 18px;
  }
  .search-bar-area {
    padding-bottom: 50px;
  }
  input.search-bar {
    font-size: 12px;
  }
  .search-bar-area button {
    margin-top: 0px;
    margin-right: 10px;
  }
  .search-icon {
    font-size: 18px;
  }
  .banner-graph hr {
    display: none;
  }
  .content-comp {
    margin: 5% 10% 6% 10%;
  }
  .content-comp h1 {
    font-size: 18px;
  }
  .paragraph1 {
    font-size: 14px;
  }
  .paragraph2 {
    font-size: 16px;
  }

  .question {
    font-size: 17px;
  }
  .intro {
    font-size: 14px;
    margin: 2% 10%;
  }
  .option p {
    font-size: 13px;
  }
  .option {
    width: 90%;
    margin: 2% 5%;
  }

  .final-box {
    display: grid;
    grid-template-columns: 100%;
    margin: 0;
  }
  .send-email-form-area {
    margin: 0;
  }
  .send-email p {
    margin: 2% 28% 2% 2%;
  }
  .send-email p {
    font-size: 14px;
    text-align: center;
    margin: 5% 2%;
  }
  .send-email-form-area {
    margin: 0;
    text-align: center;
  }
  input.insert-email {
    width: 70%;
  }
  .bottom-line p {
    margin-top: 0;
    margin-bottom: 10%;
    line-height: 15px;
    margin-right: 0;
    font-size: 11px;
  }
  .btn-send-email {
    padding: 9px 17px;
    font-size: 13px;
  }
  .visit {
    background-color: #c9ddaa;
    margin: 0;
    padding: 7% 0;
  }
  .visit p {
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    margin-top: 5px;
  }

  .in {
    font-size: 28px;
    text-align: center;
  }
  .logo-contact {
    display: none;
  }
  .logo-mobile {
    display: block;
    width: 40%;
    margin: 8% 30%;
  }
  .footer a {
    font-size: 150%;
  }
  .copyright p {
    font-size: 50%;
  }
  .footer-comparative {
    display: grid;
    grid-template-columns: 100%;
  }
  .footer-comp-logo {
    width: 52%;
    margin: 0 22%;
  }
  .copyright-comp {
    text-align: center;
    font-size: 11px;
    margin-right: 0;
  }
  .bottom-info {
    margin: 2% 4% 2% 4%;
    text-align: center;
    font-size: 10px;
  }
}

